PySide6==6.11.0
sounddevice==0.5.5
numpy==2.4.3
faster-whisper==1.2.1
onnxruntime-genai==0.14.1
keyring==25.7.0
pywin32==311
comtypes==1.4.16
assemblyai==0.64.26
groq==1.1.2
truststore==0.10.4
websocket-client==1.9.0
